@import url('https://rsms.me/inter/inter.css');
html{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: forestgreen;
}
.intro-wrap{
    height: 100%;
    width: 100%;
    background-color: black;
}
.page-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.intro{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    align-items: center;

}
.contact-info-text{
    text-decoration: none;
    margin-top: -40px;
    font-family: "Inter",sans-serif;
    font-size: 1.5rem;
}
.intro-text{
    font-family: "Inter",sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Typewriter{
    font-family: "Inter",sans-serif;
    font-size: 2rem;
}

.intro-text h1{
    font-family: "Inter",sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}